    <div ng-controller="headerCtrl">
    <nav class="navbar navbar-default " role="navigation">
            <div class="container">
                <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="upId" class="navbar-brand" href="#" >JAVA TECH</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav main-nav  clear navbar-right ">
                            <li><a  class=" color_animation" ng-click="defaultDashboard()">HOME</a></li>
                            <li><a class="color_animation" >ABOUT</a></li>
                            <li><a class="color_animation" >PRICING</a></li>
                            <li><a class="color_animation" >FEATURED</a></li>
                            <li><a class=" color_animation" ng-click="" >CALCULATION</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>
      </div>   
     
